<ns-action-bar [actionBarTitle]="'Interested buyers'" [hasMenu]=true [showBackButton]=false></ns-action-bar>
<StackLayout backgroundColor="lightgray">
    <Label  class="ratingLabel" text="Please select the user who transacted with you:" textWrap="true"  ></Label>
    <RadListView  *ngIf="interestLoaded " [items]="myInterestedbuyerArray" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" class="chatsRadList">
        <ng-template tkListItemTemplate let-interested="item" >
            <Gridlayout rows="*,*,*" columns="*,*,"  class="GridLayoutChatListStyle" shadow="6" >
                <Label *ngIf="interested" row="0" col="0" class ="InterestedBuyers" [text]="interested.username" textWrap="true" style="color: black" ></Label>
                <Label *ngIf="interested" row="0" col="1" text="&#xf005;" class ="Ratebuyerlabel" textWrap="true" style="color: black" ></Label>
            </Gridlayout>
        </ng-template>
    </RadListView>
</StackLayout>
    
