<ns-action-bar [actionBarTitle]="'Forgot Password'"></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
    <StackLayout class="input-field">
        <Label
            class="label"
            text="Email"
            [ngClass]="{ invalid: !emailControlIsValid }"
        ></Label>
        <TextField
            class="input"
            returnKeyType="next"
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="email"
            #emailEl
        ></TextField>
        <Label
            *ngIf="!emailControlIsValid"
            text="Please enter a email address."
        ></Label>
    </StackLayout>
    <Button
        class="btn btn-primary btn-rounded-lg"
        text="Submit"
        (tap)="onForgotPassword()"
    ></Button>
</StackLayout>
<FlexboxLayout justifyContent="center" alignItems="center" *ngIf="isLoading">
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>