<ns-action-bar [actionBarTitle]="'Add Advertisement'" [hasMenu]=false [showBackButton]=true></ns-action-bar>

<ScrollView>
<StackLayout class="form" [formGroup]="form">

    <StackLayout class="input-field">
        <Label
        class="label1"
        text="Image"
        ></Label>
        <Image *ngIf="myImg" src="{{myImg}}" class="thumb-img-circle" shadow="4" style="height: 25%; width: 25%;"></Image>
        <Label text="&#xf093;" class="UploadPictureLabel" (tap)="uploadPic()"></Label>
        
        <!--<Button
        class="btn btn-primary btn-rounded-lg"
        text="Take Picture"
        (tap)="takePic()"
        ></Button>-->
    </StackLayout>

    <StackLayout class="input-field">
        <Label
            class="label"
            text="Description"
        ></Label>
        <TextView
            class="input"
            returnKeyType="next"
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="description"
            #descriptionEl
        ></TextView>
    </StackLayout>
    <StackLayout class="input-field">
        <Label
            class="label"
            text="Price (R)"
        ></Label>
        <TextField
            class="input"
            returnKeyType="next"
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="price"
            #priceEl
            keyboardType="number"
        ></TextField>
    </StackLayout>

    <StackLayout class="input-field">
        <Label class="label" text="Are you selling this product / service?"></Label>
        <StackLayout orientation="horizontal">
            <Switch checked="{{isSelling}}" (checkedChange)="onCheckedChange($event)"></Switch>
            <Label class="label" *ngIf="isSelling" text="Yes, Selling"></Label>
            <Label class="label" *ngIf="!isSelling" text="No, Looking For"></Label>
        </StackLayout>
       
    </StackLayout>
     
    <StackLayout class="input-field">
        <Label
        class="label1"
        text="Advertisement Type"
    ></Label>
    <StackLayout class="input-field">
        <ListPicker [items]="advertTypes" selectedIndex="0" (selectedIndexChange)="onSelectedIndexAdvertTypeChanged($event)"></ListPicker>
    </StackLayout>
   
     
    </StackLayout>

    
    <!-- STACKLAYOUT USED TO CAPTURE TEXTBOOKS-->
    <StackLayout *ngIf="textbookCapture" class="input-field"> 
        <StackLayout>
            <Label *ngIf="!addTextbook" class="label" text="Select" (tap)="onTextbookSelectTap()" ></Label>
            <Label *ngIf="addTextbook" class="label" text="Re-Select" (tap)="onTextbookSelectTap()" ></Label>
            <Label *ngIf="!addTextbook" class="label" text="Add New" (tap)="onAddNewTextbook()" ></Label>
        </StackLayout>
        <StackLayout>
            <Gridlayout *ngIf="addTextbook" rows="*,*,*,*,*,*,*,*,*,*" columns="*,2*" class="list-group-item" class="GridLayoutAdvertListStyle">
                <Label *ngIf = "addTextbook" row="0" col="0" colspan="2" [text]="addTextbook.name" textWrap="true" class="GridLayoutLabelHeading" ></Label>
                <StackLayout row="1" col="0" colspan="2" class="StackLayoutDividers"></StackLayout>
                <Label *ngIf = "addTextbook" row="2" col="0" text="Author: " textWrap="true" class="GridLayoutStaticLabels"></Label>
                <Label *ngIf = "addTextbook" row="2" col="1" [text]="addTextbook.author" textWrap="true" class="GridLayoutLabels" ></Label>
                <StackLayout row="3" col="0" colspan="2" class="StackLayoutDividers"></StackLayout>
                <Label *ngIf = "addTextbook" row="4" col="0" text="Edition: " textWrap="true" class="GridLayoutStaticLabels"></Label>
                <Label *ngIf = "addTextbook" row="4" col="1" [text]="addTextbook.edition" textWrap="true" class="GridLayoutLabels" ></Label>
                <StackLayout row="5" col="0" colspan="2" class="StackLayoutDividers"></StackLayout>
                <Label *ngIf = "addTextbook" row="6" col="0" text="Quality: " textWrap="true" class="GridLayoutStaticLabels"></Label>
                <Label *ngIf = "addTextbook" row="6" col="1" [text]="addTextbook.quality" textWrap="true" class="GridLayoutLabels" ></Label>
                <StackLayout row="7" col="0" colspan="2" class="StackLayoutDividers"></StackLayout>
                <Label *ngIf = "addTextbook" row="8" col="0" text="For Module: " textWrap="true" class="GridLayoutStaticLabels"></Label>
                <Label *ngIf = "addTextbook" row="8" col="1" [text]="addTextbook.modulecode" textWrap="true" class="GridLayoutLabels" ></Label>
                <StackLayout row="9" col="0" colspan="2" class="StackLayoutDividers"></StackLayout>
            </Gridlayout>
        </StackLayout>
    </StackLayout>

    <!-- STACKLAYOUT USED TO CAPTURE ACCOMODATIONS-->
    <StackLayout *ngIf="accomodationCapture" class="input-field">
    <Label
    class="label"
    text="Address"
    ></Label>
    <TextField
        class="input"
        returnKeyType="next"
        required
        [autocorrect]="false"
        autocapitalizationType="none"
        formControlName="location"
        #locationEl
    ></TextField>

    <Label
    class="label"
    text="Distance From Campus (Km)"
    ></Label>
    <TextField
        class="input"
        returnKeyType="done"
        required
        [autocorrect]="false"
        autocapitalizationType="none"
        formControlName="distance"
        #distanceEl
        keyboardType="number"
    ></TextField >

    <Label
    class="label"
    text="Accomodation Type"
    (tap)="onAccomodationTypeTap()"
    ></Label>
    <TextField
    [text]="acdTypeBind"
    (tap)="onAccomodationTypeTap()"
    class="input"
    returnKeyType="done"
    required
    [autocorrect]="false"
    autocapitalizationType="none"
    formControlName="acdType"
    #acdTypeEl
    ></TextField>

    <Label
    class="label"
    text="Institution"
    (tap)="onInstitutionTypeTap()"
    ></Label>
    <TextField
    [text]="instTypeBind"
    (tap)="onInstitutionTypeTap()"
    class="input"
    returnKeyType="done"
    required
    [autocorrect]="false"
    autocapitalizationType="none"
    formControlName="instType"
    #instTypeEl
    ></TextField>
    
    <StackLayout>
        <Button
        class="btn btn-primary btn-rounded-lg"
        text="Post"
        (tap)="onPostTap()"
        ></Button>
    </StackLayout>
</StackLayout>


    <!-- STACKLAYOUT USED TO CAPTURE TUTORS-->
    <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*,*" columns="10*,2*" *ngIf="tutorCapture" class="input-field">
        <Label
            row="0"
            col="0"
            class="label"
            text="Subject"
        ></Label>
        <TextField
            row="1"
            col="0"
            colspan="2"
            class="input"
            returnKeyType="done"
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="subject"
            #subjectEl
        ></TextField>

        <Label
            row="2"
            col="0"
            colspan="2"
            class="label"
            text="Year Completed"
            (tap)="onYearTypeTap()"
        ></Label>
        <TextField
            row="3"
            col="0"
            colspan="2"
            [text]="yearTypeBind"
            (tap)="onYearTypeTap()"
            class="input"
            returnKeyType="next"()
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="yearType"
            #yearTypeEl
        ></TextField>        

        <Label
            row="4"
            col="0"
            class="label"
            text="Venue"
            (tap)="onVenueTypeTap()"
        ></Label>
        <TextField
            row="5"
            col="0"
            colspan="2"
            [text]="venueTypeBind"
            (tap)="onVenueTypeTap()"
            class="input"
            returnKeyType="next"()
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="venueType"
            #venueTypeEl
        ></TextField>

        <Label
            row="6"
            col="0"
            colspan="2"
            class="label"
            text="Terms"
            (tap)="onTermsTypeTap()"
        ></Label>        
        <TextField
            row="7"
            col="0"
            [text]="termTypeBind"
            (tap)="onTermsTypeTap()"
            class="input"
            returnKeyType="next"()
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="termType"
            #termTypeEl
        ></TextField>
        <Button
            row="6"
            col="1"
            rowspan="2"
            text="&#xf05a;"
            class="btn-info"
            (tap)="showMessage('Terms')"
        ></Button>
        

        <Label
            row="8"
            col="0"
            colspan="2"
            class="label"
            text="Note Included"
            (tap)="onNoteTypeTap()"
        ></Label>
        <TextField
            row="9"
            col="0"
            [text]="noteTypeBind"
            (tap)="onNoteTypeTap()"
            class="input"
            returnKeyType="next"()
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="noteType"
            #noteTypeEl
        ></TextField>
        <Button
            row="8"
            col="1"
            rowspan="2"
            text="&#xf05a;"
            class="btn-info"
            (tap)="showMessage('Notes')"
        ></Button>

        <Label
            row="10"
            col="0"
            colspan="2"
            class="label"
            text="Module Code"
            (tap)="onTutorModuleCodeTypeTap()"
        ></Label>
        <TextField
            row="11"
            col="0"
            colspan="2"
            [text]="moduleCodeTypeBindTutor"
            (tap)="onTutorModuleCodeTypeTap()"
            class="input"
            returnKeyType="next"()
            required
            [autocorrect]="false"
            autocapitalizationType="none"
            formControlName="moduleCodeTutorType"
            #moduleCodeTutorTypeEl
        ></TextField>
       
        <StackLayout 
            row="12"
            col="0"
            colspan="2">
            <Button            
                class="btn btn-primary btn-rounded-lg"
                text="Post"
                (tap)="onPostTap()"
            ></Button>
        </StackLayout>
    </GridLayout>

    <!-- STACKLAYOUT USED TO CAPTURE NOTES-->
    <StackLayout *ngIf="noteCapture" class="input-field">
        <Label
        class="label"
        text="Module Code"
        (tap)="onNoteModuleCodeTypeTap()"
        ></Label>
        <TextField
        [text]="moduleCodeTypeBindNote"
        (tap)="onNoteModuleCodeTypeTap()"
        class="input"
        returnKeyType="done"
        required
        [autocorrect]="false"
        autocapitalizationType="none"
        formControlName="moduleCodeNoteType"
        #moduleCodeNoteTypeEl
        ></TextField>

        <StackLayout>
            <Button
            class="btn btn-primary btn-rounded-lg"
            text="Post"
            (tap)="onPostTap()"
            ></Button>
        </StackLayout>
    </StackLayout>


    
</StackLayout>
</ScrollView>

<FlexboxLayout justifyContent="center" alignItems="center" *ngIf="advertPostedLoading">
    <ActivityIndicator [busy]="advertPostedLoading"></ActivityIndicator>
</FlexboxLayout>
