<RadSideDrawer>
    <GridLayout rows="6*,*" columns="*" tkDrawerContent class="drawer-container">
        <FlexboxLayout row="0" col="0" class="sidedrawer-menu-list">
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu-top" text="Home" (tap)="advertHome()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="My Adverts" (tap)="myAdsHome()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Personal Details" (tap)="myPersonalDetails()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Update Password" (tap)="PasswordUpdate()"></Button>
            <Label  *ngIf="unreadMessages" text="&#xf0f3;" class="Homeunread" textWrap="true" (tap)="onViewUnread()" ></Label>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Messages" (tap)="Messagehome()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Outstanding Ratings" (tap)="Ratinghome()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Ratings From Purchasing" (tap)="Buyerhome()"></Button>
            <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Ratings From Selling" (tap)="Sellerhome()"></Button>
        </FlexboxLayout>
        <Button *ngIf="isLoggedIn" row="1" col="0" text="Logout" class="btn-logout" (tap)="logOut()"></Button>
    </GridLayout>
    <StackLayout tkMainContent>
        <page-router-outlet (activate)="onRouterOutletActivate($event)"></page-router-outlet>
    </StackLayout>
</RadSideDrawer>
