<RadSideDrawer>
    <GridLayout rows="10*,*" columns="*" tkDrawerContent class="drawer-container">
    <FlexboxLayout row="0" col="0" class="sidedrawer-menu-list">
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu-top" text="Home" (tap)="advertHome()"></Button>
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="My Adverts" (tap)="myAdsHome()"></Button>
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Personal Details" (tap)="myPersonalDetails()"></Button>
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-menu" text="Shop" (tap)="shopHome()"></Button>
    <StackLayout orientation="horizontal" class="Sidedrawer">
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-message" text="Messages" (tap)="Messagehome()"></Button>
    <Label *ngIf="unreadMessages" text="&#xf0f3;" class="Homeunread" textWrap="true" ></Label>
    <Label *ngIf="unreadMessages == false" text="&#xf1f6;" class="Homeread" textWrap="true" ></Label>
    </StackLayout>
    <StackLayout orientation="horizontal" class="Sidedrawer">
    <Button *ngIf="isLoggedIn" class="btn-sidedrawer-message" text="Ratings" (tap)="Ratinghome()"></Button>
    <Label *ngIf="outstandingRatings" text="&#xf0f3;" class="Homeunread" textWrap="true" ></Label>
    <Label *ngIf="outstandingRatings == false" text="&#xf1f6;" class="Homeread" textWrap="true" ></Label>
    </StackLayout>
    </FlexboxLayout>
    <Button *ngIf="isLoggedIn" row="1" col="0" text="Logout" class="btn-logout" (tap)="logOut()"></Button>
    </GridLayout>
    <StackLayout tkMainContent>
    <page-router-outlet (activate)="onRouterOutletActivate($event)"></page-router-outlet>
    </StackLayout>
</RadSideDrawer>