<ns-action-bar  [actionBarTitle]="'Buyer rating'" [hasMenu]=false [showBackButton]=true></ns-action-bar>
<StackLayout class="form" [formGroup]="form">
    <StackLayout class="input-field">
        <Label
            class="label"
            text="Please select a rating from 1-5"
            [ngClass]="{ invalid: !buyerratingControlIsValid }"
        ></Label>
        <TextField
           editable="false" textWrap="true"
           style="border-style: hidden ; border-width: 0;border-bottom-style: groove; background-color: #ffffff;" 
           returnKeyType="next"
           required
           [autocorrect]="false"
           autocapitalizationType="none"
           formControlName="buyerrating"
           #buyerratingEl
       ></TextField>
        <Slider value="1" minValue="1" maxValue="5"
        (valueChange)="onSliderValueChange($event)">
       </Slider>
        <Label
            *ngIf="!buyerratingControlIsValid"
            text="Please enter a valid buyer rating."
        ></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label
            class="label"
            text="Buyer Comments"
            [ngClass]="{ invalid: !buyercommentsControlIsValid }"
        ></Label>
        <TextView
             class="input"
             returnKeyType="next"
             required
             [autocorrect]="false"
             autocapitalizationType="none"
             formControlName="buyercomments"
             #buyercommentsEl
        ></TextView>
        <Label
            *ngIf="!buyercommentsControlIsValid"
            text="Please enter a valid buyer comment."
        ></Label>
    </StackLayout>
    <Button
        class="btn btn-primary btn-rounded-lg"
        text="Rate Buyer"
        (tap)="onRateBuyer()"
    ></Button>
</StackLayout>