<ns-action-bar [actionBarTitle]="'Advertisements'" [hasMenu]=true [showBackButton]=false></ns-action-bar>
<TabView class="advert-tabs" androidTabsPosition="bottom">
    <StackLayout *tabItem="{title: '&#xf02d;'}" class="tab-fa">
    
    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf015;'}" class="tab-fa">

    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf19d;'}" class="tab-fa">

    </StackLayout>
    <StackLayout *tabItem="{title: '&#xf249;'}" class="tab-fa">

    </StackLayout>
</TabView>