<ns-action-bar [actionBarTitle]="'Chats'" [hasMenu]=true [showBackButton]=false></ns-action-bar>
    <RadListView  *ngIf="chatsLoaded " [items]="activechatResultList.Activechats" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" class="chatsRadList">
        <ng-template tkListItemTemplate let-activechat="item" >
            <Gridlayout rows="*,*,*,*,*" columns="*,2*," class="list-group-item" class="GridLayoutChatListStyle" shadow="6" >
                <Label *ngIf="activechat" row="0" col="0" class="SentMsessageusername" [text]="activechat.username" textWrap="true"  ></Label>
                <Label *ngIf="activechat" row="1" col="1" [text]="activechat.message"  textWrap="true"  ></Label>
                <Label *ngIf="activechat" row="2" col="2" [text]="activechat.messagedate" textWrap="true" style=" margin-left: 35%; font-size: 8em;"  ></Label>
            </Gridlayout>
        </ng-template>
    </RadListView>
    
