@import '~nativescript-theme-core/scss/light';

@import './theme/colors';

$btn-color: #ffffff;

@import '~nativescript-theme-core/scss/index';

ActionBar {
    background-color: $primary;
    color: #ffffff;
}

.btn-primary {
    background-color: $primary;
    width: 80%;
}

.btn-primary1 {
    background-color: $primary;
    width: 15%;
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 700;
    font-size: 10em;
}

.btn-flat{
    border-width: 1;
    border-color: transparent;
    z-index: 0;
    color: $primary;
}

.form {
    .input-field{
        width: 80%;

        .input{
            border-bottom-width: 2;
            border-color: $primary;
            border-bottom-color: $primary;
            width: 100%;
            color: black;
        }

        .input.ng-invalid.ng-touched{
            border-bottom-color: red;
            color: red;
        }

        .label{
            color:$primary;
            font-size: 16;
            font-weight: bold;
            font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
        }

        .label1{
            color:$primary;
            font-size: 16;
            font-weight: bold;
            font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
            text-align: center;
        }

        .label.invalid{
            color: red;
        }
    }

    .list-field{
        margin-top: 15;
        .header{
            color: $primary;
            font-size: 24;
            font-weight: bold;
            font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
            text-align: left;
        }

        .list-item {
            width: 95%;
            height: 70;
            margin-top: 5;
            border-bottom-color: $secondary;
            border-bottom-width: 1;
            align-content: center;

            .label{
                color:$primary;
                font-size: 20;
                font-weight: bold;
                font-family: 'Oswald', 'Oswald-Regular', 'Oswald-Bold';
            }
        }
    }

    .img-login-logo{
        width: 50%;
        margin-top: 5%;
    }
}

.flexbox-rememberme {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


//Side drawer styling
.drawer-container {
    background: linear-gradient(140deg, $primary, $primaryGradient);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1;
}

.btn-burger {
    width: 15%;
    height: 15%;
    border-style: solid;
    border-width: 1;
    border-color: red;
}

.btn-sidedrawer-menu {
    width: 100%;
    height: 9%;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 0;
    border-bottom-width: 1;
    border-bottom-color: white;
    color: white;
}

.btn-sidedrawer-menu-top{
    width: 100%;
    height: 9%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 0;
    border-top-width: 1;
    border-bottom-width: 1;
    border-top-color: white;
    border-bottom-color: white;
    color: white;
}

.sidedrawer-menu-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn-logout {
    height: 60%;
    background-color: white;
    color: $primary;
}

.advert-tabs {
    selected-tab-text-color: $primary;
    android-selected-tab-highlight-color: $primary;
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 400;
    font-size: 35em;
    background-color: #efeeee;
    margin-top:6%;
}

.tab-fa {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 400;
    font-size: 35em;
}

.btn-fa {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 400;
    font-size: 35em;
    border-width: 1;
    border-color: transparent;
    z-index: 0;
}

.ContactSellerLabel {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 700;
    font-size: 60em;
    text-align: center;
}

.UploadPictureLabel {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 700;
    font-size: 40em;
    text-align: center;
}

.GridLayoutAdvertListStyle {
    margin-bottom: 15;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #efeeee;
    border-radius: 5;
}

.GridLayoutAdvertStyle {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #efeeee;
    border-radius: 5;
}

.GridLayoutLabelBreakers {
    font-size:20pt;
}

.GridLayoutLabelHeading{
    font-size: 26pt;
    margin-left: 5%;
    padding-bottom: 2%;
    color: black;
   
}

.GridLayoutLabels{
    font-size: 16pt;
    margin-left: 7%;
    padding-bottom: 2%;
    color: black;
}

.GridLayoutStaticLabels{
    font-weight: 700;
    font-size: 16pt;
    margin-left: 5%;
    padding-bottom: 2%;
    color: black;
}

.GridLayoutAdListPriceLabel{
    font-size: 16pt;
    margin-left: 1%;
    padding-bottom: 2%;
    color: black;
    
}

.GridLayoutPriceLabel{
    font-size: 16pt;
    margin-left: 10%;
    padding-bottom: 2%;
    color: black;
    
}


.thumb-img-circle {
    border-radius:5;
    border-style: solid;
    border-color: #c0c0c0;
    border-width: 1px;
    margin-left: 2%;
    margin-top: 5;
    margin-bottom: 5;
}

.advertRadList {
    margin-top: 1%;
    margin-bottom: 1%;

}

.StackLayoutDividers {
    background-color:  #c0c0c0;
    height: 0.8;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

.StackLayoutDividers1 {
    background-color:  #c0c0c0;
    height: 0.8;
    margin-top: 4%;
}

.IsSellingSwitch{
    margin-top: 2%;
    margin-right: 2%;
}


.SendMessageLabel {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 100;
    font-size: 36em;
    color: $primary;
}

.GridLayoutMessages {
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
    border-color: lightgray;
    z-index: 99;
}

.SentMessage {
    color: black;
    text-align: right;
    padding-right: 5%;
    font-weight: 100;
    font-size: 16em;
    background-color: lightgreen;
}

.RecievedMessage {
    color: black;
    padding-left: 5%;
    font-weight: 100;
    font-size: 16em;
    background-color: azure;
}

.SentMessageusername {
    color: black;
    font-weight: 900;
    text-align: right;
    padding-right:5%;
    font-size: 16em;
    background-color: lightgreen;
}

.RecievedMessageusername {
    color: black;
    padding-left:5%;
    font-weight: 900;
    font-size: 16em;
    background-color: azure;
}
.SentMessagedate {
    color: black;
    font-weight: 100;
    font-size: 8em;
    background-color: lightgreen;
}

.RecievedMessagedate {
    color: black;
    font-weight: 100;
    font-size: 8em;
    background-color: azure;
}

.messageRadList {
   margin-top: .05%;
   background-color: lightgray;
   height:90%;
}

.chatPageForm{
    border-style: solid;
    border-width: 2;
    height: 100%;
}

.messagetext {
    border-style: solid;
    border-radius: 10%;
    border-width: 2;
    border-bottom-style: groove;
    z-index: 99;
    background-color: white;
}

.GridLayoutMessageinput {

}

.messageitem {
    width: 95%;
    height: 70;
    margin-top: 5;
    border-bottom-color: $secondary;
    border-bottom-width: 1;
    align-content: center;
}

.GridLayoutMessageListStyle {
    margin-bottom: 20;
    margin-left: 15;
    margin-right: 15;
    border-style: solid;
    border-width: 1.5%;
    border-color: black;
    border-radius: 2;
}

.sendmessageicon {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 100;
    text-align: right;
    padding-right:5%;
    font-size: 20em;
    color: black;
    background-color: lightgreen;
}

.recievemessageicon {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 100;
    padding-left:5%;
    font-size: 20em;
    color: black;
    background-color: azure;
}

.GridLayoutChatListStyle {
    margin-bottom: 20;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #efeeee;
    border-radius: 5;
    margin-left: 4%;
    margin-right: 4%;
}

.chatsRadList {
    margin-top: 3.5%;
    background-color: lightgray;
 
 
 }
 .RecievedMessagedatechats {
    color: black;
    margin-left: 35%;
    font-weight: 100;
    font-size: 8em;
    background-color: white;  

 }

 .ViewAdLabel {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 100;
    font-size: 20em;
    color: $secondary;

}

 .AdLabel {
 
    margin-left: 1%;
    margin-top: 0;
}


.InterestLabel {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 700;
    font-size: 60em;
    text-align: center;
}

.ItemSoldLabel {
    margin-left: 22;
}
.InterestedBuyers {
    font-size: 25em;
    margin-left: 20;
}

.InterestedBuyerslabel {
    margin-top: 10;
}

.Ratebuyerlabel {
    font-family: FontAwesome, fontawesome-webfont;
    color: $secondary;
    margin-top: 6;
    font-weight: 700;
    font-size: 25em;
    text-align: center;
}
.DeleteLabel {
    margin-left: 17;
}
 
.EditLabel {
    margin-left: 17;
}

.DeleteLabelicon {
    font-family: FontAwesome, fontawesome-webfont;
    color: $primary;
    font-weight: 700;
    font-size: 57em;
    text-align: center;
}
 
.PasswordLabel {
    font-family: FontAwesome, fontawesome-webfont;
    color: $secondary;
    margin-left: 70%;
    font-weight: 700;
    font-size: 15em;
    text-align: center;
}

.activechaticon {
    font-family: FontAwesome, fontawesome-webfont;
    color: $secondary;
    margin-left: 25%;
    font-weight: 700;
    font-size: 18em;
    text-align: center;
} 

.ratingLabel {
   margin-left: 9%;
   margin-top: 0;

}

.Unreadmessage {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 100;
    font-size: 16em;
    color: $secondary;
    margin-left: 42%;
    margin-top: 20%;
}

.Notification {
    font-family: FontAwesome, fontawesome-webfont;
    font-weight: 50;
    font-size: 15em;
    color: $secondary;
    margin-left: 93%;
}