<ns-action-bar [actionBarTitle]="'Ratings'" [hasMenu]=true [showBackButton]=false></ns-action-bar>
<StackLayout>
 <AbsoluteLayout width="100%" height="100%" backgroundColor="lightgray">
        <Label text="" left="15%" top="15%" width="44%" height="20%" backgroundColor="white"></Label>
        <Label left="55%" top="25%" height="10%" width="20%" class="Ratingdashboard" [text]="buyingaverage.average" *ngIf="buyingFound" textWrap="true"  ></Label>
        <Label left="30%" top="100%" height="10%" width="40%" text="Average From Buying" class="BuyingAverage" textWrap="true"  ></Label>
        <Label text="" left="187%" top="15%" width="44%" height="20%" backgroundColor="white"></Label>
        <Label left="227%" top="25%" width="20%" height="10%" class="Ratingdashboard" [text]="sellingaverage.average" *ngIf="sellingFound" textWrap="true"  ></Label>
        <Label left="206%" top="100%" width="40%" height="10%" text="Average From Selling" class="BuyingAverage" textWrap="true"  ></Label>
        <Label text="" left="15%" top="142%" width="44%" height="20%" backgroundColor="white"></Label>
        <Label left="67%" top="160%" width="20%" height="10%" class="Ratingdashboard" text="&#xf27a;" class="PreviousLabel"(tap)="onBuyerRatings()" textWrap="true"  ></Label>
        <Label left="22%" top="228%" width="40%" height="10%" text="Previous Bought Ratings" class="Previous"(tap)="onBuyerRatings()" textWrap="true"  ></Label>
        <Label text="" left="187%" top="142%" width="44%" height="20%" backgroundColor="white"></Label>
        <Label left="239%" top="160%" width="20%" height="10%" class="Ratingdashboard" text="&#xf27a;" class="PreviousLabel"(tap)="onSellerRatings()" textWrap="true"  ></Label>
        <Label left="202%" top="228%" width="40%" height="10%" text="Previous Sold Ratings" class="PreviousSold"(tap)="onSellerRatings()" textWrap="true"  ></Label>
        <Label text="" left="100%" top="268%" width="44%" height="20%" backgroundColor="white"></Label>
        <Label left="152%" top="290%" width="20%" height="10%" class="Ratingdashboard" text="&#xf0cb;" class="PreviousLabel"(tap)="onOutstandingRatings()" textWrap="true"  ></Label>
        <Label left="120%" top="358%" width="40%" height="10%" text="Outstanding Ratings" class="Outstanding"(tap)="onOutstandingRatings()" textWrap="true"  ></Label>
 </AbsoluteLayout>
</StackLayout>
